<div class="row-12">
    <div class="col-4"><a href="<%- url_for(site.data.menu["教程"]) %>">site.data.menu["教程"]</a></div>
    <div class="col-4"><a href="<%- url_for(site.data.menu["手册"]) %>">site.data.menu["手册"]</a></div>
    <div class="col-4"><a href="<%- url_for(site.data.menu["API"]) %>">site.data.menu["API"]</a></div>
</div>