<footer id="footer">
  <div class="outer">
    <div class="inner">
      <!--<div id="footer-copyright">-->
        <!--&copy; <%= new Date().getFullYear() %> <a href="http://firebox.im/">Firebox Technologies</a><br>-->
        <!--Background: <a href="http://subtlepatterns.com/shattered/" target="_blank">Shattered</a> by <a href="http://luukvanbaars.com/" target="_blank">Luuk van Baars</a>-->
      <!--</div>-->


        <div class="footer-wrap">
            <div class="footer-logo">
                <a href="http://fireball-x.com">
                    <img class="logo sitemap" src="/css/images/logo-footer.gif" width="64" alt="fireball logo">
                </a>
            </div>

            <div class="sitemap-wrap">
                <div class="sitemap-col">
                    <ul class="sitemap">
                        <li><h3 class="sitemap-title">English</h3></li>
                        <li><a class="link map" href="/">User Manual</a></li>
                        <li><a class="link map" href="/api/modules/Fire.html">API Docs</a></li>
                        <li><a class="link map" href="/en/dev">Developer Guide</a></li>
                    </ul>
                </div>
                <div class="sitemap-col">
                    <ul class="sitemap">
                        <li><h3 class="sitemap-title">中文</h3></li>
                        <li><a class="link map" href="/zh">用户手册</a></li>
                        <li><a class="link map" href="/api/zh/modules/Fire.html">API文档</a></li>
                        <li><a class="link map" href="/zh/dev">开发者指南</a></li>
                    </ul>
                </div>
            </div>
            <div id="footer-links">
                <a href="https://twitter.com/<%= theme.twitter %>" id="footer-link-twitter" class="footer-link" target="_blank"><span>Twitter</span></a>
                <a href="https://github.com/<%- theme.github %>" id="footer-link-github" class="footer-link" target="_blank"><span>GitHub</span></a>
            </div>
        </div>
    </div>
  </div>
</footer>
